GOOGLE_SERVICE_ACCOUNT_EMAIL=varcamp-sheets@your-project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SPREADSHEET_ID=your_spreadsheet_id
GOOGLE_SHEETS_RANGE="Volunteer Registrations!A:AA"
GOOGLE_SHEETS_ORGANIZER_RANGE="Organizer Registrations!A:AA"
VOLUNTEER_RATE_LIMIT_MAX=5
VOLUNTEER_RATE_LIMIT_WINDOW_SECONDS=3600
ORGANIZER_RATE_LIMIT_MAX=5
ORGANIZER_RATE_LIMIT_WINDOW_SECONDS=3600
